@media (max-width:1250px) {
    .aside {
        transform: translateX(-100%);
        width: 40px;
        position: absolute;
        height: 100%;
        z-index: 0;

        &__inner {
            opacity: 0;
            padding-right: 28px;
            padding-right: 0;
        }

        &__button {
            display: block;
            border: 1px solid #292D32;
            border-left: transparent;
        }

        &.show{
            transform: translateX(0);
            width: 100%;
            z-index: 55;
    
            .aside__inner {
                opacity: 1;   
                padding-right: 28px;
            }
        }
    }
}