@media (max-width:1250px) {
    .main-content {
        padding: 40px 15px;

        &__title {
            text-align: right;
        }

        &__inner {
            position: relative;
            z-index: 2;
        }
    }
}

@media (max-width:1000px) {
    .main-content {

        &__bottom {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            height: 80px;
            flex-direction: column;
            padding: 20px 10px;
        }

        &__text {
            margin-bottom: 10px;
        }
    }

    .main-table {
        display: flex;
        overflow-x: auto;
        position: relative;
        padding-bottom: 100px;

        &__top {
            position: sticky;
            left: 0;
            top: 0;
            max-width: 200px;
            width: 100%;
            background-color: #fff;
            padding-right: 10px;
            flex: 0 0 auto;

            .main-table__line {
                &:nth-last-child(1) {
                    width: 100%;
                    justify-content: flex-start;
                }
            }
        }

        &__rows {
            display: flex;
        }



        &__row {
            padding-top: 0;

            .main-table__line {
                &:nth-last-child(1) {
                    height: 50px;
                }
            }
        }

        &__list {
            display: block;
        }

        &__line {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;

            &+li {
                margin-left: 0;
                margin-top: 20px;
            }

        }

    }
}

@media (max-width:500px) {
    .main-content {
        &__top {
            flex-direction: column;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }

        &__label {
            width: 100%;
            margin-top: 30px;
        }

        &__scroll {
            display: block;
            width: 40px;
            height: 30px;
        }

        &__icon {
            width: 100%;
            height: 100%;
        }

    }

    .main-table {
        &__top {
            padding-left: 10px;
            max-width: 170px;
            border-right: 1px solid #EEEEEE;
        }

        &__row {
            padding-left: 20px;
        }
    }
}